:root {
    --primary-text-color: #2E2F42;
    --title-text-color: #434455;
    --secondary-text-color: #4D5AE5;
}



.body {
    background-color: #E5E5E5;
    color: var(--title-text-color);
}

.list {
    list-style: none;
}

/* logo */

.logo-web {
    color: var(--secondary-text-color);
}
.logo-studio {
    color: var(--primary-text-color);
}

/* site nav */

.site-nav, .link {
    color: var(--primary-text-color);
}

.link:hover {
    color: var(--secondary-text-color);
}

/* auth nav */
.auth-nav, .auth {
    color: var(--title-text-color);
}

/* section */

.section {
    color: var(--primary-text-color);
}

/* hero */

.hero {
    background-color: var(--primary-text-color);
}

.hero-title {
    color: #FFFFFF;
}
.hero-button {
    color: #FFFFFF;
    background-color: var(--secondary-text-color);
}

.hero-button:hover {
    background-color: #404BBF;
}

/* features */

.features, .title {
    color: var(--primary-text-color);
}

.title-text {
    color: var(--title-text-color);
}

/* our team */

.section-bgc {
    background-color: #F4F4FD;
}

.section-title {
    color: var(--primary-text-color);
}

.name {
    color: var(--primary-text-color);
}

.job-title {
    color: var(--title-text-color);
}

/* footer */

.footer {
    background-color: var(--primary-text-color);
}

.whlogo-studio {
    color: #F4F4FD;
}

.footer-title {
    color: #E7E9FC;
}